body {
    background-color: lightsteelblue;
    font-family: sans-serif;
  }


  h1 {
    color: white;
    font-size: 60px;
    font-family: 'Vivaldi', cursive; 

    
  }

  h2 {
    color: white;
    font-size: 20px;
  }

  h3 {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-variant: small-caps;
    font-size: 30px;
  }

  h4 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #191970

  }
  p {
    color: red;
  }

  .wrapper {
    background-color: lavender;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    margin: 16px auto;
    max-width: 960px;
    padding: 10%;
    width: 75%;
    border-radius: 25px;
  }

  .index-visit-button {
    display: inline-block;
    border-radius: 4px;
    background-color: #6495ED;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 5px;
    width: auto;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    transition-duration: 0.4s;
  
  }

  .index-visit-button:hover {
    background-color: #4CAF50;
    color: white;
  }

  .new-visit-button {
    display: inline-block;
    border-radius: 4px;
    background-color: #6495ED;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 5px;
    width: auto;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    transition-duration: 0.4s;
  }
  
  .new-visit-button:hover {
    background-color: #DA70D6;
    color: white;
  }

  input[type=text] {
    background: transparent;
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid purple;
    font-size: 14px;
  }

  input[type=text]:focus {
    background-color: white;
    border: 3px solid #555;
    
  }

  input[type=submit] {
    display: inline-block;
    border-radius: 4px;
    background-color: #6495ED;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 5px;
    width: auto;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    transition-duration: 0.4s; 
  }

  input[type=submit]:hover {
    background-color: #F08080;
    color: white;
  }

  label {
    font-weight: bold;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
 }
  